/* End Variables */
/* Start Globel Rules  */
:root {
  --main-color: #1f6feb;
  --hover-color: #0f1a2d;
  --text-color: #8b949e;
  --main-background: #0d1117;
  --second-background: #10141a;
  --main-padding: 100px;
  --main-transition: 0.3s;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: var(--main-background);
  color: white;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title {
  margin: 0 auto;
  border: 1px solid #ffffff80;
  border-radius: 45px;
  padding: 1px 30px;
  font-size: 40px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .main-title {
    font-size: 30px;
  }
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
  background-image: linear-gradient(to right, var(--main-color), #002970);
}
.main-title::after {
  right: -30px;
  background-image: linear-gradient(to right, var(--main-color), #002970);
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: 1px solid var(--hover-color);
  border-radius: 45px;
  transition-delay: 0.5s;
}
.main-title + p {
  margin: 10px auto 80px;
  text-align: center;
  font-size: 18px;
  color: var(--text-color);
  max-width: 600px;
}
@media (max-width: 767px) {
  .main-title + p {
    max-width: 400px;
    padding: 0 20px;
  }
}
.color-text {
  background-image: linear-gradient(to right, var(--main-color), #002970);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* End Globel Rules  */
/* Start Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--main-background);
  width: fit-content;
  margin: 20px auto;
  padding: 0 20px;
  margin: 0 auto;
  border-radius: 30px;
  z-index: 1000;
  -webkit-box-shadow: 0 0 10px var(--main-color);
  -moz-box-shadow: 0 0 10px var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
  position: sticky;
  top: 20px;
  backdrop-filter: blur(10px);
  transition: all 0.5s ease-out;
}
.header:hover {
  box-shadow: 0 0 15px var(--main-color);
}
.header .logo {
  font-size: 26px;
  font-weight: bold;
  color: white;
  height: 60px;
  margin-top: 10px;
  margin-left: 10px;
  transition: var(--main-transition);
}
.header .toggle-menu {
  color: var(--text-color);
  font-size: 25px;
}
@media (min-width: 768px) {
  .header .toggle-menu {
    display: none;
  }
}
.header .main-nav {
  display: flex;
}
.header .main-nav a {
  color: var(--text-color);
  margin: 20px 2px;
  padding: 5px 15px;
  transition: var(--main-transition);
}
.header .main-nav a.active {
  background-color: var(--hover-color);
  color: var(--main-color);
  border-radius: 20px;
  margin-left: 40px;
}
.header .main-nav a:hover {
  background-color: var(--hover-color);
  color: var(--main-color);
  border-radius: 20px;
}
@media (max-width: 991px) {
  .header {
    padding: 0 10px;
  }
  .header .logo {
    font-size: 20px;
    margin-bottom: -10px;
  }
}
@media (max-width: 767px) {
  .header .main-nav {
    display: none;
  }
  .header .main-nav a.active {
    margin-left: 0;
  }
  .header {
    padding: 1px 10px;
    position: sticky;
  }
  .header .toggle-menu {
    padding: 10px;
    margin: 0 20px;
  }
  .header .toggle-menu:hover {
    color: var(--main-color);
  }
  header .main-nav ul li a {
    padding: 10px !important;
  }
  .header .main-nav.open {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--main-background);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 10px;
    z-index: 1000;
    margin-top: 15px;
    backdrop-filter: blur(10px);
  }
}
/* End Header */
/* Start Home */
.home {
  color: white;
  position: relative;
  margin-top: 30px;
}
.home .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--main-padding);
}
@media (max-width: 991px) {
  .home .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
}
.home .container .text {
  /* margin-right: 20px; */
}
.home .container .text h1 {
  max-width: 500px;
  font-size: 65px;
  line-height: 1.3;
}
@media (max-width: 991px) {
  .home .container .text h1 {
    max-width: 100%;
    font-size: 60px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .home .container .text h1 {
    max-width: 400px;
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .home .container .text h1 span {
    margin-left: 10px;
  }
}
.home .container .text p {
  max-width: 550px;
  margin-top: -30px;
  margin-bottom: 40px;
  color: var(--text-color);
  font-size: 20px;
  line-height: 1.5;
}
@media (max-width: 991px) {
  .home .container .text p {
    margin: 40px auto;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .home .container .text p {
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    text-align: center;
    font-size: 16px;
  }
}
.home .container .links a {
  position: relative;
  color: var(--main-color);
  padding: 10px 25px;
  margin-right: 10px;
  border: 1px solid #1f71eb65;
  border-radius: 30px;
  font-size: 18px;
}
@media (max-width: 767px) {
  .home .container .links a {
    font-size: 16px;
    padding: 5px 15px;
  }
}
.home .container .links a:first-of-type {
  display: inline-block;
  color: white;
  background-image: linear-gradient(to right, var(--main-color), #002970);
  transition: var(--main-transition);
}
.home .container .links a:first-of-type:hover {
  transform: scale(1.04);
}
.home .container .links a:first-of-type i {
  margin-left: 5px;
  animation: bouncing 1.5s infinite;
}
.home .container .links a:last-of-type {
  display: inline-block;
  transition: all 0.4s ease-out;
  background-image: linear-gradient(
    to right,
    var(--hover-color) 50%,
    transparent 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
}
.home .container .links a:last-of-type:hover {
  background-position: left bottom;
  background-color: var(--hover-color);
  transform: scale(1.05);
}
.home .container .image {
  margin-left: 40px;
  margin-right: 30px;
  margin-top: 40px;
}
.home .container .image img {
  max-width: 380px;
  border-radius: 50%;
  margin: 20px;
  outline: 1px solid rgba(255, 255, 255, 0.2);
  border: 7px solid var(--main-background);
  transition: all 0.4s ease-out;
  animation: up-and-down 3s linear infinite;
}
@media (min-width: 992px) {
  .home .container .image img:hover {
    box-shadow: 0 0 10px var(--main-color);
    outline: none;
  }
}
@media (max-width: 991px) {
  .home .container .image {
    order: -1;
    margin: 20px auto;
  }
  .home .container .image img {
    max-width: 350px;
    border-radius: 50%;
    animation: up-and-down 3s linear infinite;
    box-shadow: 0 0 10px var(--main-color);
    outline: none;
  }
}
@media (max-width: 767px) {
  .home .container .image img {
    width: 250px;
  }
}
/* Start About */
.about {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--second-background);
}
.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ffffff2c;
  margin: 20px auto;
  padding: 10px;
  border-radius: 24px;
}
@media (max-width: 767px) {
  .about .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px;
  }
}
.about .container > i {
  font-size: 100px;
  margin-right: 40px;
  padding: 20px;
  color: #002e7e;
}
@media (max-width: 767px) {
  .about .container > i {
    font-size: 80px;
  }
}
.about .container .content {
  margin: 0 auto;
  padding: 10px;
}
.about .container .content h3 {
  font-size: 30px;
}
.about .container .content p {
  color: var(--text-color);
  font-size: 18px;
}
.about .container .content p span {
  font-weight: bold;
  font-size: 19px;
}
.about .container .content a {
  display: block;
  width: fit-content;
  padding: 5px 20px;
  margin: 20px 10px 10px 0;
  color: white;
  border: 1px solid var(--main-color);
  border-radius: 25px;
  font-size: 20px;
  box-shadow: 0 0 5px var(--main-color);
  transition: all 0.4s ease-out;
  background-image: linear-gradient(
    to right,
    var(--hover-color) 50%,
    transparent 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
}
.about .container .content a:hover {
  background-position: left bottom;
  background-color: var(--hover-color);
  transform: scale(1.05);
}
@media (max-width: 767px) {
  .about .container .content a {
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 35px;
  }
}
.about .container .content a i {
  color: color;
  margin-left: 5px;
  animation: bouncing 1.5s infinite;
}
/* End About */
/* Start Skills */
.skills {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.skills .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
}
.skills .container .box {
  border: 1px solid #ffffff2c;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  transition: var(--main-transition);
}
.skills .container .box:hover {
  box-shadow: 0 0 10px var(--main-color);
}
.skills .container .box > i {
  font-size: 30px;
  color: var(--main-color);
}
.skills .container .box .content {
  text-align: center;
}
.skills .container .box .content h3 {
  font-size: 22px;
}
.skills .container .box .content p {
  color: var(--text-color);
  line-height: 1.4;
  font-size: 14px;
  margin: 10px auto;
}
.skills .container .box .languages {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.skills .container .box .languages li {
  width: fit-content;
  padding: 2px 10px;
  margin: 4px;
  border-radius: 25px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--main-color);
  background-color: var(--hover-color);
  transition: var(--main-transition);
}
.skills .container .box .languages li:hover {
  transform: scale(1.1);
}
/* End Skills */
/* Start Project  */
.project {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--second-background);
}
.project .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(900px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
@media (max-width: 991px) {
  .project .container {
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  }
}
@media (max-width: 767px) {
  .project .container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
.project .container .card {
  border: 1px solid #ffffff2c;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  background-color: #2e303338;
  transition: var(--main-transition);
}
@media (max-width: 991px) {
  .project .container .card {
    flex-direction: column;
    margin: 0 auto;
  }
}
.project .container .card:hover {
  border: 1px solid #1f71eb7c;
  box-shadow: 0 0 5px var(--main-color);
  background-color: hsla(0, 0%, 100%, 0.05);
}
.project .container .card img {
  max-width: 50%;
  transition: var(--main-transition);
}
@media (max-width: 991px) {
  .project .container .card img {
    max-width: 100%;
    order: -1;
  }
}
.project .container .card:hover img {
  transform: scale(1.05);
  transition: var(--main-transition);
}
.project .container .card .content {
  padding: 30px;
}
.project .container .card .content h4 {
  color: var(--main-color);
  text-transform: uppercase;
}
.project .container .card .content h3 {
  font-size: 28px;
  transition: var(--main-transition);
}
.project .container .card:hover .content h3 {
  color: var(--main-color);
}
.project .container .card .content p {
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.project .container .card .languages {
  display: flex;
}
.project .container .card .languages li {
  padding: 1px 15px;
  border: 1px solid #ffffff2c;
  border-radius: 16px;
  margin-right: 10px;
  background-color: #2e30336b;
  font-weight: 300;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .project .container .card .languages li {
    font-size: 12px;
  }
}
.project .container .card .languages li:hover {
  color: var(--main-color);
  background-color: var(--hover-color);
}
.project .container .card .links {
  display: flex;
}
.project .container .card .links a {
  display: block;
  width: fit-content;
  border: 1px solid #ffffff2c;
  border-radius: 12px;
  margin: 20px 20px 0px 0;
  padding: 5px 20px;
  color: white;
  font-size: 18px;
  font-weight: 300;
  background-color: #2e30336b;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .project .container .card .links a {
    font-size: 16px;
    padding: 1px 10px;
  }
}
.project .container .card .links a:hover {
  transform: scale(1.07);
}
.project .container .card .links a.active {
  background-color: var(--main-color);
}
.project .container .card .links a:hover:last-of-type {
  background-color: #ffffff2c;
}
.project .container .card .links a i {
  font-size: 14px;
  margin-right: 5px;
  font-weight: 600;
  transition: var(--main-transition);
}
.project .container .card .links a:hover i {
  transform: rotate(10deg);
}
/* End Project  */
/* Start Contact */
.contact {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.contact .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-bottom: 60px;
}
.contact .container .content .box {
  border: 1px solid #ffffff2c;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: var(--main-transition);
}
.contact .container .content .box:hover {
  border: 1px solid var(--main-color);
  box-shadow: 0 0 5px var(--main-color);
  background-color: hsla(0, 0%, 100%, 0.05);
}
.contact .container .content .box i {
  color: var(--main-color);
  font-size: 22px;
  margin: 10px;
}
.contact .container .content .box a {
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 1.4;
}
.contact .container .content .box a p {
  color: var(--text-color);
  font-size: 14px;
  margin: 5px auto 10px;
  text-align: center;
  line-height: 1.4;
}
.contact .container .links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .container .links li {
  margin-right: 10px;
}
.contact .container .links li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff2c;
  border-radius: 50%;
  color: white;
  transition: var(--main-transition);
}
.contact .container .links li a:hover {
  background-color: var(--main-color);
}
/* End Contact */
/* Start Footer */
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ffffff2c;
  background-color: #2e303338;
  text-align: center;
  font-size: 18px;
  color: var(--text-color);
}
/* End Footer */
/* Start Animation */
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40%,
  60% {
    transform: translateX(15px);
  }
}
@keyframes up-and-down {
  0%,
  100% {
    /* top: 0; */
    transform: translateY(0);
  }
  50% {
    /* top: -50px; */
    transform: translateY(-20px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 16px;
    height: 16px;
  }
  100% {
    left: 0;
    border-radius: 45px;
    width: 100%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 16px;
    height: 16px;
  }
  100% {
    right: 0;
    border-radius: 45px;
    width: 100%;
    height: 100%;
  }
}
/* End Animation */
